.resultsContainer{
    margin: 0px 32px 20px 32px;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resultsMiddle{
    display: flex;
    justify-content: space-around;
}

.rombuses{
    position: relative;
}

.resultsLoadingState{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultsLoadingState h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

@keyframes bounceDots {
  0%, 20% { content: ""; }
  40% { content: "."; }
  60% { content: ".."; }
  80%, 100% { content: "..."; }
}

.resultsLoadingState h3:after {
  content: "";
  animation: bounceDots 1s infinite;
}