.resultsContainer{
    margin: 0px 32px 20px 32px;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resultsMiddle{
    display: flex;
    justify-content: space-around;
}