h1 {
    font-size: 750px;
}

.landingContainer {
    margin-top: 100px;
}

.landingMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 128px;
    text-align: center;
    transition: transform 1s ease, text-align 300ms ease;
}

.landingRight, .landingLeft{
    position: relative;
}

.option{
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 50%;                   
    transform: translate(-50%, -50%);  
    font-size: 14px;
    cursor: pointer;
}

.leftOption, .rightOption, .rectangle {
    transition: opacity 1s ease;
}

.leftOption{
    left: 30%;
    
}

.rightOption{
    left: 80%;
    width: 150px;
}

.landingMain:has(.landingRight:hover)  .title {
  transform: translateX(-20%);
  text-align: left;
}

.landingMain:has(.landingRight:hover) .landingLeft .leftOption,
.landingMain:has(.landingRight:hover) .landingLeft .rectangle {
  opacity: 0;
}

.landingMain:has(.landingLeft:hover) .title {
  transform: translateX(20%);
  text-align: right;
}

.landingMain:has(.landingLeft:hover) .landingRight .rightOption,
.landingMain:has(.landingLeft:hover) .landingRight .rectangle {
  opacity: 0;
}


.rectangle{
    object-fit: cover;
}

.arrowIcon{
    width: 44px;
    height: 44px;
}

.landingBottom{
    margin-top: 50px;
    width: 100%;
}

.landingPara{
    text-align: left;
    width: 400px;
    padding-left: 52px;
    font-size: 14px;
}