.testTitle {
    font-weight: 700;
    font-size: 16px;
}

.testContainer {
    margin: 0px 32px 20px 32px;
    height: calc(100% - 60px);
}


.testMiddle{
    display: flex;
    justify-content: center;
}

.rombuses{
    position: relative;
}

.middleText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nameInput {
    font-size: 50px;
    border: none;
    border-bottom: 2px solid #1A1B1C;
    text-align: center;
    outline: none;
   
}

.nameInput::placeholder {
    color: #1A1B1C;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thankYouText, .loadingText{
    width: 400px;
    font-size: 30px;
    text-align: center;
}

@keyframes bounceDots {
  0%, 20% { content: ""; }
  40% { content: "."; }
  60% { content: ".."; }
  80%, 100% { content: "..."; }
}

.loadingText::after {
  content: "";
  animation: bounceDots 1s infinite;
}